# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm
.idea/
*.iml
*.iws
*.ipr

# Virtual Environment
venv/
env/
ENV/

# OS specific
.DS_Store
Thumbs.db
